@font-face {
  font-family: "Bahnschrift";
  src: url("./fonts/BAHNSCHRIFT.TTF");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
p,
b {
  font-family: "Noto Sans", sans-serif;
  color: #071e2e;
}
h2,
h3,
h4,
h5 {
  font-family: "Bahnschrift", sans-serif;
  color: #071e2e;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}

.removeButtonStyle {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.whatsapp-button {
  transition: none;
  border: none;
  cursor: pointer;
  background-color: white;
  position: fixed;
  bottom: 0;
  right: 40px;
  gap: 20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 22px 30px 22px 23px;
  box-shadow: 0px 0px 10px 0px #071e2e5d;
  z-index: 3;
  transition: opacity 500ms ease-in-out;
}

.whatsapp-button div {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.whatsapp-button.off {
  opacity: 0;
}

.whatsapp-button p {
  font-size: 27px;
  font-weight: 600;
}

.whatsapp-button img {
  width: 52px;
  position: relative;
  animation: shake 800ms infinite;
}

.whatsapp-button:hover img {
  width: 52px;
  position: relative;
  animation: none;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@media (max-width: 800px) {
  .whatsapp-button p {
    display: none;
  }
}

.menu-button {
  display: none;
}
@media (max-width: 800px) {
  .menu-button {
    z-index: 3;
    background: transparent;
    background-color: white;
    padding: 15px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    position: fixed;
    right: 20px;
    top: 20px;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
  }
  .menu-button img {
    width: 25px;
  }

  .menu-button.off {
    opacity: 0;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  right: -60%;
  width: 60%;
  padding: 20px 32px;
  height: 100%;
  background-color: white;
  backdrop-filter: blur(20px);
  z-index: 6;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: right 500ms ease-in-out;
  opacity: 0.8;
}

.menu-container.active {
  right: 0%;
}

.menu-container a {
  text-decoration: none;
  color: #071e2e;
  font-size: 20px;
  color: #071e2e;
  font-family: "Noto Sans";
}

.menu-container a:first-of-type {
  font-weight: 600;
  text-decoration: underline;
}

.menu-container hr {
  border: 1px solid #afcce6;
}

.menu-container .menu-buttons-container {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 20px;
}
.menu-container img {
  width: 25px;
  height: 31px;
}

.menu-container .close-button {
  align-self: flex-end;
  width: 35px;
}

.popupWhatsapp-container {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-content: center;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.288);
  z-index: 10;
}

.popupWhatsapp-container.active {
  display: flex;
}

.popupWhatsapp {
  align-self: center;
  background-color: white;
  max-width: 271px;
  width: 100%;
  min-height: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding: 20px 48px 25px 48px;
  border-radius: 15px;
}

.popupWhatsapp p {
  font-weight: 600;
  text-align: center;
  font-family: "Noto Sans";
}

.popupWhatsapp button {
  padding: 5px 20px;
  font-weight: 600;
  font-size: 14px;
  font-family: "Noto Sans";
  border-radius: 10px;
  border: 1px solid #7ac0ff;
  background-color: transparent;
  color: #7ac0ff;
}

.popupWhatsapp div button:first-of-type {
  background-color: #7ac0ff;
  color: white;
}

.section-1-image {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  max-width: 50%;
  max-height: 1049px;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10%;
}

header {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  max-width: 286px;
  width: 100%;
}

header .buttons-container {
  display: flex;
  align-items: center;
  gap: 50px;
}

header .buttons-container a {
  font-size: 21px;
  text-decoration: none;
  color: black;
}

header .buttons-container a:last-of-type {
  font-size: 21px;
  background-color: white;
  padding: 10px 16px;
  border-radius: 15px;
}

.container-center {
  max-width: 1150px;
  margin: 0 auto;
  overflow: hidden;
}

/* 

PRIMEIRA SESSÃO 

*/
.fisrt-session-container {
  margin-top: 240px;
  padding: 0 20px;
}
.fisrt-session-container .first-container h1,
.fisrt-session-container .first-container span {
  font-size: 45px;
  font-family: "Noto Sans", sans-serif;
}

.first-container {
  position: relative;
}

.fisrt-session-container .first-container p {
  margin-top: 10px;
  font-size: 18px;
  max-width: 360px;
}

.fisrt-session-container .second-container {
  margin-top: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 65px 174px 0px 174px;
  border-radius: 65px 65px 0 0;
  background-color: white;
}

.fisrt-session-container .second-container h3 {
  font-size: 34px;
  font-weight: normal;
}

.carrosel-palavras {
  position: relative;
  display: flex;
  gap: 20px;
  max-width: 600px;
  height: 60px;
  overflow-x: visible;
  overflow-y: clip;
}

.carrosel-palavras-item {
  font-weight: bold;
  color: #7ac0ff;
  text-decoration: underline;
  transition: all 500ms ease-in-out;
  font-family: "Noto Serif";
  display: none;
  position: absolute;
  height: 200px;
  top: 0px;
}

.carrosel-palavras-item.active {
  display: block;
  animation: palavra-item-active 1s ease-in-out forwards;
}

@keyframes palavra-item-active {
  0% {
    opacity: 0;
    left: 50%;
  }
  100% {
    opacity: 1;
    left: 0%;
  }
}

.carrosel-palavras-item.desactive {
  display: block;
  animation: palavra-item-desactive 500ms ease-in-out forwards;
}

@keyframes palavra-item-desactive {
  0% {
    left: 0px;
    opacity: 1;
    margin-left: 0;
  }
  100% {
    opacity: 0;
    margin-left: -150px;
  }
}

/*

SEGUNDA SESSÃO 

*/

.dropdown-container {
  margin-top: 208px;
  padding: 0 20px;
}

.dropdown-about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dropdown-about h3 {
  font-size: 34px;
  font-weight: normal;
}

.dropdown-about p {
  font-size: 18px;
}

.dropdown-group {
  display: flex;
  flex-direction: column;
  margin-top: 43px;
}

.dropdown-group .dropdown-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 80px 30px 100px;
  border-top: 3px solid #afcce6;
  cursor: pointer;
}

.dropdown-context {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dropdown-text {
  height: 0px;
  opacity: 0;

  transition: all 500ms ease-in-out;
}

.dropdown-text.active {
  height: 20px;
  opacity: 1;
  display: block;
  margin-bottom: 10px;
}

.dropdown-group .dropdown-item:last-of-type {
  border-bottom: 3px solid #afcce6;
}

.dropdown-group .dropdown-item h3 {
  font-size: 27px;
  font-weight: normal;
}

.dropdown-group .dropdown-item button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.dropdown-group .dropdown-item button.active {
  transition: all 500ms ease-in-out;
  transform: rotate(45deg);
}
.dropdown-group .dropdown-item button.active img {
  filter: brightness(0.3);
}

/* 

TERCEIRA SESSÃO 

*/

.container-third-session {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  padding: 0 20px;
}

.container-third-session h3 {
  font-size: 34px;
  font-weight: normal;
  text-align: center;
}

.container-third-session > div:first-of-type {
  max-width: 740px;
  margin-top: 75px;
}

.item-container-geral {
  display: flex;
  max-width: 770px;
}

.item-container-geral img {
  align-self: flex-end;
  z-index: 2;
}

.item-container-geral .text-container {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.item-container-geral .text-container span {
  display: none;
}
.item-container-geral .text-container div {
  display: flex;
  flex-direction: column;
}

.item-container-geral .text-container > p {
  line-height: 155px;
  font-size: 180px;
  align-self: flex-start;
  font-weight: bold;
  font-family: "Bahnschrift", sans-serif;
}

.item-container-geral .text-container h4 {
  font-size: 27px;
}

.item-container-geral.primeiro {
  height: 303px;
}
.item-container-geral.primeiro img {
  width: 282.71px;
  height: 234px;
}
.item-container-geral.primeiro .text-container {
  margin-left: -90px;
}

.item-container-geral.segundo {
  height: 345px;
  align-self: center;
}
.item-container-geral.segundo img {
  width: 245.6px;
  height: 249px;
}
.item-container-geral.segundo .text-container {
  margin-left: -40px;
  margin-top: 28px;
}

.item-container-geral.terceiro {
  height: 306px;
  align-self: flex-end;
  margin-top: 60px;
}

.item-container-geral.terceiro img {
  width: 228.01pxpx;
  height: 234px;
}

.item-container-geral.terceiro .text-container {
  margin-left: -25px;
}

.button-agendar-visita {
  background: #7ac0ff;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 10px rgba(0, 90, 152, 0.35));
  width: 419px;
  padding: 22px 30px 20px 24px;
  align-self: center;
  color: white;
  font-size: 32px;
  font-family: "Bahnschrift";
  display: flex;
  align-items: center;
  border: none;
  gap: 10px;
  margin-top: 140px;
  margin-bottom: 40px;
}

/* 

QUARTA SESSAO 

*/
.container-center.grid-fotos {
  max-width: 1920px;
  width: 100%;
  margin-top: 150px;
  padding: 140px 20px 145px 20px;
  position: relative;
}

.container-quarta-sessao {
  max-width: 1155px;
  margin: 0 auto;
}

.container-quarta-sessao.mobile {
  display: none;
}

.quadrado-azul {
  position: absolute;
  right: 0;
  top: 0;
  width: 49.6%;
  max-width: 946px;
  height: 100%;
  background-color: #daebfa;
  z-index: -1;
  border-top-left-radius: 154px;
}

.container-quarta-sessao .grid {
  display: grid;

  grid:
    "contexto imagens-direita"
    "imagem-esquerda-1 imagens-direita"
    "imagem-esquerda-2 imagens-direita" / 1fr 1fr;
  row-gap: 15px;
  column-gap: 15px;
}

.grid-context {
  grid-area: contexto;
  padding: 45px 40px 35px 54px;
}

.grid-context h3 {
  font-size: 27px;
  font-weight: 200;
}

.grid-context h2 {
  font-size: 50px;
  font-weight: bold;
}

.grid-context p + p {
  margin: 10px 0;
}

.grid-context .logos-container {
  display: flex;
  gap: 25px;
  margin-top: 18px;
}
.imagens-direita {
  grid-area: imagens-direita;
}

.imagens-direita .primeira {
  width: 100%;
  max-width: 564px;
  max-height: 848px;
  border-top-right-radius: 50px;
}

.imagens-direita .segunda {
  position: relative;
  width: 100%;
  max-width: 564px;
  max-height: 401px;
  border-bottom-right-radius: 50px;
}

.imagens-esquerda.primeira {
  grid-area: imagem-esquerda-1;
  width: 100%;
  max-width: 576px;
  max-height: 400px;
}

.imagens-esquerda.segunda {
  grid-area: imagem-esquerda-2;
  max-width: 576px;
  max-height: 422px;
  width: 100%;
  border-bottom-left-radius: 50px;
}

/* 

Quinta sessão

*/

.depoimentos-mobile {
  display: none;
}
.container-quinta-sessao {
  position: relative;
  overflow: hidden;
}

.background-depoimentos {
  position: absolute;
  z-index: -1;
  width: 50%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}

.grid-depoimentos {
  display: grid;
  justify-content: center;
  grid:
    "first title" 200px
    " .    second" 200px
    "third ." 200px
    ". fourth" 200px / minmax(200px, 484px) minmax(200px, 484px);
}

.grid-depoimentos > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.grid-depoimentos > div p {
  font-size: 18px;
  font-style: italic;
  font-family: "Noto Sans";
}

.grid-depoimentos > div h4 {
  font-size: 18px;
  font-weight: bold;
  font-family: "Noto Sans";
}

.grid-depoimentos .title {
  grid-area: title;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-depoimentos .first {
  grid-area: first;
  background-color: white;
}

.grid-depoimentos .first p {
  max-width: 269px;
}

.grid-depoimentos .second {
  grid-area: second;
  background-color: #daebfa;
}

.grid-depoimentos .second p {
  max-width: 260px;
}

.grid-depoimentos .third {
  grid-area: third;
  background-color: white;
}
.grid-depoimentos .third p {
  max-width: 345px;
}

.grid-depoimentos .fourth {
  grid-area: fourth;
  background-color: #daebfa;
}

.grid-depoimentos .fourth p {
  max-width: 312px;
}

/* 

Sexta sessão

*/
.container-sexta-sessao {
  max-width: 1150px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  margin-top: 130px;
  margin-bottom: 149px;
  justify-content: space-around;
}
.container-sexta-sessao .button-agendar-visita {
  display: none;
}

.consulta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 378px;
}

.consulta-container h3 {
  font-size: 40px;
  font-weight: bold;
}

.consulta-container img {
  height: 80px;
}

.redes-sociais-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.redes-sociais-container h3 {
  font-size: 40px;
  font-weight: bold;
}

.redes-sociais-container .rede-social-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.redes-sociais-container .rede-social-container img {
  height: 50px;
}

.redes-sociais-container .rede-social-container p {
  font-size: 31px;
  font-weight: 600;
}

/* 

FOTTER

*/
footer {
  background-color: #daebfa;
}

footer .footer-container {
  padding: 75px 20px;
  display: flex;
  max-width: 1150px;
  margin: 0 auto;
  justify-content: space-around;
  gap: 50px;
}

footer img {
  max-width: 388px;
  width: 100%;
  max-height: 169px;
}

.footer-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 0 20px;
}

@media (max-width: 1000px) {
  .fisrt-session-container .first-container h2,
  .fisrt-session-container .first-container span {
    font-size: 40px;
    font-family: "Noto Sans", sans-serif;
  }

  .container-third-session .item-container-geral .text-container > p {
    line-height: 155px;
    font-size: 150px;
  }

  .container-third-session .item-container-geral.primeiro img {
    width: 250.71px;
    height: 234px;
  }
  .container-third-session .item-container-geral.segundo img {
    width: 210.6px;
    height: 249px;
  }
  .container-third-session .item-container-geral.terceiro img {
    width: 200.01px;
    height: 234px;
  }

  .container-quarta-sessao .grid {
    display: grid;
    grid:
      "contexto imagens-direita"
      "imagem-esquerda-2 imagens-direita"
      "imagem-esquerda-2 imagem-esquerda-1" / 1fr 1fr;
  }

  .imagens-direita .segunda {
    border-bottom-right-radius: 0px;
  }

  .imagens-esquerda.primeira {
    border-bottom-right-radius: 50px;
  }

  imagens-esquerda segunda .grid-context h3 {
    font-size: 20px;
  }
  .grid-context h2 {
    font-size: 35px;
  }

  .container-center.grid-fotos {
    max-width: 1920px;
    width: 100%;
    margin-top: 150px;
    padding: 180px 20px 100px 20px;
    position: relative;
  }

  .container-sexta-sessao {
    padding: 0 20px;
    gap: 80px;
    justify-content: space-around;
  }

  .consulta-container h3 {
    font-size: 25px;
    font-weight: bold;
  }

  .consulta-container img {
    height: 50px;
  }

  .redes-sociais-container h3 {
    font-size: 25px;
    font-weight: bold;
  }

  .redes-sociais-container .rede-social-container img {
    height: 20px;
  }

  .redes-sociais-container .rede-social-container p {
    font-size: 18px;
  }

  footer img {
    max-width: 280px;
  }

  .footer-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
}

/* header - 1 sessão */
@media (max-width: 800px) {
  header .buttons-container {
    display: none;
  }

  /* PRIMEIRA SESSAO */
  .section-1-image {
    z-index: -2;
    background-attachment: black;
    max-width: 100%;
    max-height: 1049px;
    object-fit: cover;
    opacity: 1;
  }

  .section-1-image-opacity {
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(white, transparent);
    z-index: -1;
    width: 100%;
    height: 500px;
  }
  .fisrt-session-container {
    margin-top: 50px;
    padding: 0;
  }
  .fisrt-session-container .first-container {
    margin: 0 20px;
  }

  .fisrt-session-container .second-container {
    margin-top: 600px;
    text-align: start;
    align-items: flex-start;
    padding: 20px 20px;
    border-radius: 0 65px 0 0;
  }

  .fisrt-session-container .second-container h3 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
  }
}
/* 2 sessão */
@media (max-width: 800px) {
  /* Segunda sessão */
  .dropdown-container {
    margin-top: 60px;
    padding: 0px;
  }

  .dropdown-about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
  }

  .dropdown-group .dropdown-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px;
    border-top: 3px solid #afcce6;
  }

  .dropdown-about h3 {
    font-size: 22px;
    font-weight: bold;
  }

  .dropdown-text.active {
    height: 100%;
    opacity: 1;
    display: block;
    margin-bottom: 10px;
  }
}
/* 3 sessão */
@media (max-width: 800px) {
  /* terceira sessão */

  .container-third-session .item-container-geral,
  .container-third-session > div:first-of-type {
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    height: 100% !important;
    align-self: center;
  }

  .container-third-session .item-container-geral img {
    align-self: center;
  }

  .item-container-geral.primeiro .text-container,
  .item-container-geral.segundo .text-container,
  .item-container-geral.terceiro .text-container {
    margin: 0;
  }

  .item-container-geral .text-container > p {
    display: none;
  }

  .item-container-geral .text-container span {
    display: inline-block;
  }

  .button-agendar-visita {
    max-width: 235px;
    padding: 15px;
    align-self: center;
    color: white;
    font-size: 18px;
    font-family: "Bahnschrift";
    font-weight: bold;
    margin-top: 50px;
  }
  .button-agendar-visita img {
    width: 26px;
  }
}
/* 4 sessão */
@media (max-width: 800px) {
  /* quarto container */

  .container-center.grid-fotos {
    margin-top: 0px;
    padding: 40px 0px 20px 0px;
    position: relative;
  }

  .quadrado-azul {
    display: none;
  }
  .container-quarta-sessao {
    display: none;
  }

  .container-quarta-sessao.mobile {
    display: flex;
    flex-direction: column;
  }

  .container-quarta-sessao.mobile .primeiro-texto {
    padding: 0px 20px;
  }

  .container-quarta-sessao.mobile .primeiro-texto h3 {
    font-size: 20px;
    font-weight: lighter;
  }
  .container-quarta-sessao.mobile .primeiro-texto h2 {
    font-size: 32px;
  }

  .container-quarta-sessao.mobile .primeiro-texto p {
    font-weight: 400;
    font-size: 16px;
  }

  .container-quarta-sessao.mobile .fotos-container {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }

  .container-quarta-sessao.mobile .fotos-container img {
    height: 250px;
    object-fit: contain;
  }

  .container-quarta-sessao.mobile .fotos-container .primeira {
    align-self: flex-end;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  .container-quarta-sessao.mobile .fotos-container .segunda {
    align-self: flex-start;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-top: -50px;
  }
  .container-quarta-sessao.mobile .fotos-container .terceira {
    align-self: flex-end;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-top: -50px;
  }

  .container-quarta-sessao.mobile .segundo-texto-container .primeira-imagem {
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    max-height: 700px;
  }

  .container-quarta-sessao.mobile .segundo-texto-container div {
    padding: 25px 20px;
  }
  /*
.container-quarta-sessao .grid {
  display: grid;
  padding: 0;
  grid:
    "imagens-direita"
    "contexto";
}
.grid-context {
  grid-area: contexto;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
}

.imagens-direita {
  align-items: center;
}

.imagens-direita .primeira {
  border-top-right-radius: 0px;
  border-top-left-radius: 50px;
}
.imagens-direita .segunda {
  display: none;
}
.imagens-esquerda.primeira {
  display: none;
}
.imagens-esquerda.segunda {
  display: none;
} */
}
/* 5 sessão */
@media (max-width: 800px) {
  .grid-depoimentos {
    display: none;
  }

  .background-depoimentos {
    width: 100%;
    object-fit: cover;
  }
  .depoimentos-mobile {
    display: block;
    height: 100vh;
    max-height: 600px;
    padding: 40px 20px;
    text-align: center;
  }

  .depoimentos-mobile p {
    font-style: italic;
  }

  .depoimentos-mobile h3 {
    font-size: 25px;
    font-weight: bold;
  }

  .carrosel-depoimentos {
    position: relative;
    display: flex;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    max-width: 340px;
    height: 100%;
    overflow-x: visible;
    overflow-y: clip;
  }

  .carrosel-depoimentos-item {
    display: none;
    position: absolute;
    height: 200px;
    width: 100%;
    top: 0px;
  }

  .carrosel-depoimentos-item.active {
    display: block;
    animation: depoimentos-item-active 1s ease-in-out forwards;
  }

  @keyframes depoimentos-item-active {
    0% {
      opacity: 0;
      left: 100%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }

  .carrosel-depoimentos-item.desactive {
    display: block;
    animation: depoimentos-item-desactive 500ms ease-in-out forwards;
  }

  @keyframes depoimentos-item-desactive {
    0% {
      left: 0px;
      opacity: 1;
      margin-left: 0;
    }
    100% {
      opacity: 0;
      margin-left: -150px;
    }
  }
}

/* 6 sessão */
@media (max-width: 800px) {
  .container-sexta-sessao {
    margin-top: 45px;
    margin-bottom: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
  }

  .redes-sociais-container h3 {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .container-quarta-sessao.mobile .segundo-texto-container .primeira-imagem {
    max-height: 600px;
  }
  footer .footer-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  footer .footer-container div {
    gap: 10px;
  }

  .container-sexta-sessao .button-agendar-visita {
    display: flex;
    margin-top: 0;
  }

  .consulta-container {
    display: none;
  }
}
@media (max-width: 500px) {
  .container-quarta-sessao.mobile .fotos-container img {
    height: 220px;
    object-fit: contain;
  }
}

@media (max-width: 420px) {
  @media (max-width: 500px) {
    .container-quarta-sessao.mobile .fotos-container img {
      height: 180px;
      object-fit: contain;
    }
  }
  .container-quarta-sessao.mobile .fotos-container .primeira {
    object-fit: cover;
    max-width: calc(100% - 100px);
  }
  .container-quarta-sessao.mobile .fotos-container .segunda {
    align-self: flex-start;
    object-fit: cover;
    max-width: calc(100% - 100px);

    margin-top: -50px;
  }
  .container-quarta-sessao.mobile .fotos-container .terceira {
    max-width: calc(100% - 100px);
    object-fit: cover;
    margin-top: -50px;
  }

  .container-quarta-sessao.mobile .segundo-texto-container .primeira-imagem {
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    max-height: 500px;
  }
}
